<div>
	<h1><%= @article.title %></h1>
	<p><em>Published <%= @article.created_at.strftime('%b %d, %Y') %></em></p>
	<p>Filed under: <% @article.categories.each do |category| %>
		<span class="label label-info"><%= link_to category.title, category %>
		</span><% end %>
	</p>
	<div><%= @article.content %></div>
</div>